<h1>List of Tasks</h1>

<% @tasks.each do |task| %>
  <h3><%= task.description %></h3>
  <p><%= task.done %></p>
  <%=link_to "Edit Task", edit_task_path(task.id) %>
  <%= link_to "Delete", task_path(task.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  <p>*******************************</p>
<% end %>


<h2>Add new task:</h2>
<%=link_to "New", new_task_path %>




